<header>
  <h1>Sign In</h1>
</header>

<%= form_tag(session_path) do %>
<fieldset>
  <p>
    <%= label_tag :email %>
    <%= email_field_tag :email, nil, autofocus: true %>
  </p>
    <p>
    <%= label_tag :password %>
    <%= password_field_tag :password, nil %>
  </p>
  <p>
    <%= submit_tag "Sign In" %>
  </p>
</fieldset>
<% end %>
