<% title(@user.name) %>
<article id ="user">
  <header>
    <h1><%= @user.name %></h1>
    <h2><%= @user.email %></h2>
  </header>

  <% content_for(:side) do %>
    <% if @liked_events.any? %>
    <h3>Liked Events</h3>
    <ul>
      <% @liked_events.each do |event| %>
      <li>
        <%= link_to event.name, event %>
      </li>
      <% end %>
    </ul>
    <% end %>
  <% end %>


  <% if @registrations.any? %>
  <h3>Registered For</h3>
  <ul>
    <% @registrations.each do |registration| %>
    <li>
      <%= link_to registration.event.name, registration.event %>
      (<%= time_ago_in_words(registration.created_at) %> ago)
    </li>
    <% end %>
  </ul>
  <% end %>
  <footer>
    <nav>
    <% if current_user?(@user) %>
      <%= link_to "Edit Account", edit_user_path(@user), class: "button" %>
      <%= link_to 'Delete Account', @user,
                    method: :delete,
                    data: { confirm: 'Are you sure?'},
                    class: 'button' %>
      <% end %>
    </nav>
  </footer>
</article>
