<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div id="wrapper">
  <p>
    <%= render 'layouts/flashes' %>
  </p>
  <div id="container">
    <%= render "layouts/sidebar" %>
    <section id="content">
      <%= yield %>
    </section>
  </div>

</div>

<%= render 'layouts/footer' %>

</body>
</html>
